
/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* rmoving default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* set core root defaults */

html:focus-wthin {
    scroll-behavior: smooth;
}

/* set core body defaults */

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* a elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* make images easier to work with */

img,
picture {
    max-width: 100%;
    display: block;
}

/* inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}

/* remove all animations, transitions and smooth scroll for pe @media (prefers-reduced-motions: reduce) */

@media (prefers-reduced-motion: reduce) {
    
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

main {
    max-width: 1264px;
    margin: 0 auto;
    padding: 40px 30px;
}

.display-flex{
    display: flex;
}

.left__container {
    padding-right: 30px;
}

.main__video {
    width: 576px;
    height: 360px;
}

.main-title {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 400;
}

.vide-title {
    margin-bottom: 15px;
}

.caption-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-bottom: 15px;
}

.flex-left {
    justify-content: space-between;
}

.flex-left > p {
    color: rgb(88, 86, 86);
    font-family: "Roboto", "Arial";
    font-size: 1rem;
}

.flex-left > * + * {
    margin-left: 10px;
}

.flex-right > * + * {
    margin-left: 25px;
}

.flex-right > span {
    cursor: pointer;
    font-weight: 400;
    font-family: "Roboto", "Arial", sans-serif;
    
}

.flex-right > span > i {
    font-size: 1.3rem;
    margin-right: 0.4rem;
}